# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Build
bin/
*.exe
*.test
*.tar.gz
*.zip
hist-oj-service
hist-oj-service-*
hist-oj-server
hist-oj-linux-amd64
histoj
server

# Logs
logs/
*.log

# Documentation
*.md
!README.md

# Test
*_test.go

# Docker
Dockerfile
docker-compose.yml
.dockerignore
